<!-- Модальное окно подтверждения/отмены платежа -->
<div id="confirm-income-modal" class="modal-overlay" style="display: none;">
    <div class="modal-content">
        <div class="ui-form-title">
            <div class="ui-form-title-text" id="confirm-income-modal-title">Подтвердите действие</div>
        </div>
        <p id="confirm-income-modal-text" style="color:#535c69; font-size:14px; margin-bottom:20px;">Вы уверены?</p>
        <div class="modal-buttons">
            <button id="confirm-income-yes-btn" class="ui-btn ui-btn-primary">Да</button>
            <button id="confirm-income-cancel-btn" class="ui-btn ui-btn-light-border">Отмена</button>
        </div>
    </div>
</div>