<!-- Модальное окно подтверждения удаления правила -->
<div id="delete-rule-confirm-modal" class="modal-overlay" style="display: none;">
    <div class="modal-content">
        <div class="ui-form-title"><div class="ui-form-title-text">Подтвердите удаление</div></div>
        <p>Вы уверены, что хотите удалить это правило? Это действие необратимо.</p>
        <div class="modal-buttons">
            <button id="confirm-delete-rule-btn" class="ui-btn ui-btn-danger">Удалить</button>
            <button id="cancel-delete-rule-btn" class="ui-btn ui-btn-light-border">Отмена</button>
        </div>
    </div>
</div>
