<!-- ЭКРАН: ГЛАВНОЕ МЕНЮ -->
<div id="main-menu" class="app-screen">
    <div class="ui-form-title"><div class="ui-form-title-text">Выберите раздел</div></div>
    <div class="main-menu">
        <div id="goto-cashbox" class="menu-card" data-tab="cashbox">
            <div class="menu-card-icon">💰</div>
            <div class="menu-card-title">Касса</div>
            <div class="menu-card-description">Внесение и учет расходов, зарплат и прочих финансовых операций.</div>
        </div>
        <div id="goto-statistics" class="menu-card" data-tab="statistics">
            <div class="menu-card-icon">📊</div>
            <div class="menu-card-title">Статистика</div>
            <div class="menu-card-description">Анализ конверсии лидов по стадиям и источникам.</div>
        </div>
        <div id="goto-access" class="menu-card" data-tab="access">
            <div class="menu-card-icon">🔑</div>
            <div class="menu-card-title">Доступы</div>
            <div class="menu-card-description">Настройка прав доступа для сотрудников и отделов.</div>
        </div>
    </div>
</div>
