<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Финансы и Статистика</title>
    <script src="//api.bitrix24.tech/api/v1/"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="static/custom_styles.css">
</head>
<body>
    <div id="loader-overlay" class="loader-overlay"><div class="loader"></div></div>

    <div id="notification-overlay" class="notification-overlay">
        <div class="notification-popup">
            <div id="notification-icon" class="notification-popup-icon"></div>
            <div id="notification-title" class="notification-popup-title"></div>
            <div id="notification-text" class="notification-popup-text"></div>
            <div id="notification-buttons" class="notification-popup-buttons">
                <button id="notification-ok-btn" class="ui-btn ui-btn-primary">ОК</button>
            </div>
        </div>
    </div>

    <div id="app-container" class="workarea-content-paddings" style="display: none;">
        {% include 'partials/screen_no_access.html' %}
        {% include 'partials/screen_main_menu.html' %}
        {% include 'partials/screen_cashbox.html' %}
        {% include 'partials/screen_statistics.html' %}
        {% include 'partials/screen_access.html' %}
    </div>

    {% include 'partials/modals/modal_edit_expense.html' %}
    {% include 'partials/modals/modal_edit_income.html' %}
    {% include 'partials/modals/modal_confirmation.html' %}
    {% include 'partials/modals/modal_delete_expense.html' %}
    {% include 'partials/modals/modal_delete_rule.html' %}
    {% include 'partials/modals/modal_file_viewer.html' %}

    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/ru.js"></script>
    <script src="static/js/app.js"></script>
    <script src="static/js/api.js"></script>
    <script src="static/js/access.js"></script>
    <script src="static/js/statistics.js"></script>
    <script src="static/js/statistics_api.js"></script>
    <script src="static/js/cashbox/cashbox_main.js"></script>
    <script src="static/js/cashbox/cashbox_api.js"></script>
    <script src="static/js/cashbox/cashbox_ui.js"></script>
    <script src="static/js/cashbox/incomes_logic.js"></script>
    <script src="static/js/cashbox/expenses_logic.js"></script>
    <script src="static/js/client_search_handler.js"></script>
</body>
</html>
